
/*	Toolbar	*/
.btn-toolbar,
.btn-group {
	margin-right: 10px;
}
.btn-group .btn {
	margin-right: -1px;
}
.btn-toolbar {
	box-sizing: border-box;
	font-size: 11px;
	color: #555;
	background: none;
	padding: 0 8px;
	line-height: 28px;
	height: 30px;
	border: solid silver 1px;
	outline: none;
}
.btn-toolbar:hover {
	/*border-color: gray;*/
}
.btn-toolbar:active {
	border-top-color: gray;
	border-left-color: gray;
	background-color: silver;
	box-shadow: inset 1px 1px 4px rgba(0,0,0, .4);
}
.btn-toolbar[disabled] {
	color: #999;
	text-shadow: 0 1px white;
}
.btn-toolbar[disabled] .icon {
	opacity: 0.3;
}

.btn-toolbar .icon {
	margin-right: 4px;
	line-height: inherit;
	vertical-align: middle;
}

/*	Layers List	*/
.layer {
	padding: 8px 10px;
	line-height: 16px;
	vertical-align: top;
	cursor: default;
}
.layer .icon {
	min-width: 20px;
}


.layer.page {
	border-top: solid #c4c4c4 1px;
	border-bottom: solid #c4c4c4 1px;
}
.layer.page.active {
	background: white;
}
.layer.page:first-child,
.layer.page + .page {
	margin-top: -1px;
}



.layer.open {
	font-weight: bold;
}
.layer.active {
	background: #6b9de3;
	background: skyblue;
}

.l0 {padding-left: 10px;}
.l1 {padding-left: 20px;}
.l2 {padding-left: 30px;}
.l3 {padding-left: 40px;}
