
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	background: url(../img/icons.png) no-repeat;
}


/*	Toolbar icons	*/
.icon.add-page {background-position: -0px -0px;}
.icon.add-artboard {background-position: -20px -0px;}
.icon.do-group {background-position: -40px -0px;}
.icon.un-group {background-position: -60px -0px;}

.icon.add-text {background-position: -0px -20px;}
.icon.add-rect {background-position: -20px -20px;}
.icon.add-circle {background-position: -40px -20px;}

/*	Layer-types	*/
.icon.page {background-position: -0px -60px;}
.icon.artboard {background-position: -20px -60px;}
.icon.group {background-position: -40px -60px;}
.icon.symbol {background-position: -60px -60px;}

.icon.text {background-position: -0px -80px;}
.icon.rect {background-position: -20px -80px;}

.icon.expand {width:12px; min-width:0; background-position: 0px -100px;}
.icon.expand.open {background-position: -20px -100px;}

